doctype html
html
    head
        include head.pug
        script(src="/#{root}/dist/js/sql-formatter.js")
        link(rel="stylesheet" href="/#{root}/css/connections.css?ver=#{version}")
    body
        include navbar.pug
        div#container.content
            div#left-container
                #recents-title 
                    span Recent Connections
                    #conn-list
            div#right-container
                include connections-form.pug
                div#btn-container
                    button.button(id="test")
                        span Test connection
                        span.icon.is-small
                            i.test-icon.fas

                    div#login-btn-container
                        button.button(id="signup")
                            a(href="/signup") Signup 
                        button.button(id="login") Continue as guest

                div#signin-container
                    #[br]
                    span Already registered? Please #[a(href="/signin") Signin.]

        input#version(type="hidden" value="#{version}")

        script(type='module' src='/#{root}/dist/js/connections.js?ver=#{version}')
        script(type='code' id='conn-template')
            .conn-container
                div
                    i.fas.fa-server.server-icon
                div.conn.has-text-left(data-id="{id}") &nbsp;&nbsp;{item}
                div
                    i.fas.fa-trash.del-conn(data-id="{id}")
