doctype html
html
    head
        include head.pug
        script(src="https://unpkg.com/@yaireo/tagify")
        script(src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js")
        link(href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="/#{root}/css/query.css?ver=#{version}")
    body
        include common.pug
        include appbar.pug
        include query-content.pug

        script(type='module' src='/#{root}/dist/js/query.js?ver=#{version}')
        //script(type='module' src='/#{root}/js/query.js?ver=#{version}')
        script(type="code" id="option-template")
            option(value="{value}") {value}
