doctype html
html
    head
        include head.pug
        script(src="/#{root}/js/tagify")
        script(src="/#{root}/js/tagify.polyfills.min.js")
        script(src="/#{root}/dist/js/sql-formatter.js")
        link(href="/#{root}/css/tagify.css" rel="stylesheet" type="text/css")
        link(rel="stylesheet" href="/#{root}/css/queries.css?ver=#{version}")
        link(rel="stylesheet" href="/#{root}/css/svg-arrow.css")
    body
        include common.pug
        include appbar.pug
        include db-renamer.pug
        include db-deleter.pug
        include query-content.pug
        input#version(type="hidden" value="#{version}")

        script(src="/#{root}/js/core@2")
        script(src="/#{root}/js/tippy.js@6")
        script(type='module' src='/#{root}/dist/js/queries.js?ver=#{version}')
