doctype html
html
    head
        include head.pug
        link(rel="stylesheet" href="/#{root}/css/signup.css?ver=#{version}")
    body
        include navbar.pug
        div#container.content
            //dummy
            div
            div#form-container.control
                div#first-name-container.field.is-horizontal
                    .field-label.is-normal
                        label.label(for="first-name") First Name
                    .field-body
                        .field
                            input(type="text" id="first-name" value="" placeholder="First Name")

                div#last-name-container.field.is-horizontal
                    .field-label.is-normal
                        label.label(for="last-name") Last Name
                    .field-body
                        .field
                            input(type="text" id="last-name" value="" placeholder="")

                div#email-container.field.is-horizontal
                    .field-label.is-normal
                        label.label(for="email") Email
                    .field-body
                        input(type="text" id="email" value="" placeholder="")

                div#image-container.field.is-horizontal
                    .field-label.is-normal
                        label.label(for="image") Captcha
                    .field-body
                        div
                            img#image(src="" alt="Captcha")
                    div#reset
                        i.fas.fa-redo(title="Reload captcha")

                div#captcha-container.field.is-horizontal
                    .field-label.is-normal
                        label.label(for="captcha") Enter text
                    .field-body
                        input(type="text" id="captcha" value="" placeholder="")

                div#get-otp-container.field.is-horizontal
                    .field-label.is-normal
                        label.label(for="")
                    .field-body
                        button.button#get-otp.is-info.is-full-width Get OTP

                div#otp-container.field.is-horizontal
                    .field-label.is-normal
                        label.label(for="otp") OTP
                    .field-body
                        input(type="text" id="otp" value="" placeholder="")

                div#signup-container.field.is-horizontal
                    .field-label.is-normal
                        label.label(for="signup")
                    .field-body
                        button.button#signup.is-info.is-full-width Signup!


            //dummy
            div

        input#version(type=hidden value="#{version}")

        script(type='module' src='/#{root}/dist/js/signup.js?ver=#{version}')
        script(type='code' id='conn-template')
            .conn-container
                div
                    i.fas.fa-server
                div.conn.has-text-left(data-id="{id}") &nbsp;&nbsp;{item}
                div
                    i.fas.fa-trash.del-conn(data-id="{id}")
