doctype html
html
    head
        include head.pug
        link(rel="stylesheet" href="/#{root}/css/connections.css?ver=#{version}")
    body
        include navbar.pug
        div#container.content
            div#left-container
                button.button#debug-add-conns(type="button") Add conns
                #recents-title Recent Connections
                    #conn-list
            div#right-container
                div#form-container.control
                    i#add-new.fas.fa-plus-circle(title="New connection")
                    div#name-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="name") Connection Name
                        .field-body
                            .field
                                input(type="text" id="name" value="" placeholder="")

                    div#user-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="user") Username
                        .field-body
                            .field
                                input(type="text" id="user" value="" placeholder="")
                    div#pass-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="pass") Password
                        .field-body
                            input(type="password" id="pass" value="" placeholder="")
                    div#host-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="host") Host
                        .field-body
                            input(type="text" id="host" value="" placeholder="")
                    div#port-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="port") Port
                        .field-body
                            input(type="text" id="port" value="" placeholder="")
                    div#db-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="db") Database
                        .field-body
                            input(type="text" id="db" value="" placeholder="optional")

                    div#default-container.field.is-horizontal
                        .field-label.is-normal
                            label.label(for="default") Default
                        .field-body
                            input(type="checkbox" id="is-default")

                div#btn-container
                    button.button(id="test")
                        span Test connection
                        span.icon.is-small
                            i.test-icon.fas

                    div#login-btn-container
                        button.button(id="signup")
                            a(href="/signup") Signup 
                        button.button(id="login") Continue as guest

        input#version(type=hidden value="#{version}")

        script(type='module' src='/#{root}/dist/js/connections.js?ver=#{version}')
        script(type='code' id='conn-template')
            .conn-container
                div
                    i.fas.fa-server
                div.conn.has-text-left(data-id="{id}") &nbsp;&nbsp;{item}
                div
                    i.fas.fa-trash.del-conn(data-id="{id}")
