doctype html
html
    head
        include head.pug
        link(rel="stylesheet" href="/#{root}/css/tables.css?ver=#{version}")
    body
        include common.pug
        include appbar.pug
        include db-renamer.pug
        include db-deleter.pug
        include table-renamer.pug
        include table-truncater.pug
        include table-deleter.pug
        include table-contents.pug
        include row-adder.pug
        include row-deleter.pug
        include table-info.pug
        include column-selector.pug

        input#version(type="hidden" value="#{version}")

        script(type='module' src='/#{root}/dist/js/tables.js?ver=#{version}')
